
body {
    width: 500px;
  }
  
  label {
    font-weight: bold; 
    font-size: xx-large; 
  }
  
  
  input[type="text"] {
    padding: 25px;
    width: 300px;
  }
  
  p {
    font-size: xx-large;
    background: #63d3f0;
    color: #000000;
    padding: 20px;
    visibility: hidden;
  }
  .A{
    position: absolute;
    background-color:cornflowerblue;
    outline: solid 2px black;
    right: 30%;
    left: 30%;
    top: 20%;
  }
  .B{
    background-color: rgba(255, 0, 0, 0.5);
  }

  .randomize{
    font-size: xx-large;
  }

  #customname{
    font-size: xx-large;
  }